@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./root.css";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.actin-button {
  width: 100%;
  border: 2px solid #4f6477;
  color: var(--dark);
  font-weight: bold;
  padding: 15px 0px;
  letter-spacing: 0.94px;
  font-size: 15px;
  box-sizing: content-box;
}

.filled-button {
  background-color: var(--dark);
  border-width: 0px;
  color: white;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 42px;
}

.content-area {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  @apply xl:gap-x-[78px] lg:gap-x-[78px] gap-y-[24px];
  margin-bottom: 26px;
}
